// .promo {
//   padding: 50px 0;
//   background-color: lightsteelblue;
// }

// .promo-inner {
//   margin: 0 auto;
//   width: 1024px;

//   @media (max-width: 1279px) {
//     width: auto;
//     max-width: 1024px;
//   }
// }

// .promo-ttl {
//   font-size: $h1-fz-desktop;
//   font-weight: $h1-fw;

//   @media (max-width: 1279px) {
//     font-size: $h1-fz-tablet;
//   }

//   @media (max-width: 669px) {
//     font-size: $h1-fz-mobile;
//   }
// }

/* Промо */

.promo {
  text-align: center;
  background-image: url(/images/castle.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: black;
}

.promo-bg {
  padding-top: 191px;
  padding-bottom: 235px;
  background-color: rgba(21, 43, 60, 0.4);
}

.promo-title {
  font-family: Raleway, sans-serif;
  font-weight: 300;
  font-size: 116px;
  text-align: center;
  color: #ffffff;
  }

  .promo-info {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    color: #ffffff;
  }
