/* Мероприятия */
.social-icon {
    width: 10px;
    height: 10px;
  }
 
  .social-arrow {
    width: 80px;
    height: 80px;
    color: #d46240;
  }
 
 .social-pointer {
   width: 25px;
   height: 25px;
   color: #c4c4c4;
 }